.owner-message{
    background-color: #2e4028;
    color: white;
    margin-right: 5%;
    padding: 1% 1% 0% 1%;
    border-radius: 5px;
    margin: .5% 5%;
    max-width: 75%;
    min-width: 20%;
    width: fit-content;
    overflow-anchor: auto;
    overflow-wrap: anywhere;
    margin-left: auto;
}
.non-owner-message{
    background-color: #e9f5e4;
    margin-left: 5%;
    padding: 1% 1% 0% 1%;
    border-radius: 5px;
    margin: .5% 5%;
    max-width: 75%;
    min-width: 20%;
    width: fit-content;
    overflow-anchor: auto;
    overflow-wrap: anywhere;
    
}
.container{
    display: flex;
}
.mat-mdc-text-field-wrapper {
    height: 10% !important; 
    flex: auto;
    will-change: auto;
}
.submit-button{
    margin-left: auto;
}
.mat-mdc-card {
    position: relative;
    background-color: #609c4c;
}

.text-field{
    border-radius: 10px !important;
    background-color: #e9f5e4 !important;
}