.story{
    width: 25%;
    background-color: #e7f2e1;
    margin: 3px;
    border-radius: 10px;
}
.scroll-container {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    padding-top: 60px;
}
.story-title{
    display: flex;
    font: 400 18px / 18px Roboto, sans-serif;
    justify-content: center;
    background-color: #609c4c;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px;
}

.story-main-idea{
    font: 400 12px / 12px Roboto, sans-serif;
    margin: 10px;
}