header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 8px #8ab596;
    background-color: #dfe8d3;
    position: fixed;
    width: 100%;
    margin-top: -8%;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}
