/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
nav, .sidebar {
    background-color: white;
    border-radius: 0px 6px 6px 0px;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    width: 330px;
    box-shadow: 8px 8px 18px #00000030;
  
    .sidebar-content {
      width: 100%;
  
      .toggle-btn {
        width: 100% !important;
        height: 1.5rem;
        padding-right: 0.4rem;
        color: white;
        position: inherit;
  
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
  
        span {
          font-size: 0.99rem;
          &.close {
            opacity: 0;
          }
  
          &:hover {
            color: black;
          }
        }
      }
    }
  
    &:hover {
      .sidebar-content {
        .toggle-btn {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  
  .sections {
    margin-left: 2rem;
    margin-top: 2rem;
  
    .section{
      margin-bottom: 3rem;
  
      .section-title {
        font-size: 0.88rem;
        line-height: 0.88rem;
        text-transform: uppercase;
        letter-spacing: 0.09rem;
        font-weight: 600;
  
        &:hover {
          color: green;
        }
      }
  
      .section-content {
        ul {
          margin-top: 1rem;
          margin-bottom: 1rem;
          margin-left: 1rem;
          li {
            margin-bottom: 0.5rem;
  
            a:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .sidebar {
    position: fixed;
    margin-top: 54px;
    height: 86%;
    background-color: #609c4c;
}